@font-face {
    font-family: 'Poppins Regular';
    src: url('./font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Define Poppins ExtraLight font */
@font-face {
    font-family: 'Poppins ExtraLight';
    src: url('./font/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* Adjust the font weight according to your font file */
    font-style: normal;
}

:root {
    --text: #002335;
    --background: #fff1e6;
    --background2: #ffebdc;
    --primary: #60A2AA;
    --secondary: #235067;
    --accent: #E6FCFF;
    --shadow: rgba(0, 0, 0, 0.15);
}


* {
    padding     : 0;
    margin      : 0;
    font-family : "Poppins Regular", sans-serif;
}

body {
    width:100vw;
    height:100vh;
    background-color: var(--background);
    overflow-x: hidden;
    font-family: p;
}

h1, h2, h3 {
    color: var(--text);
}

.content {
    width: 100vw;
    height:100vh;
}


/*
* Nav Bar
*/

.navBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    width: 10vw;
    height: 100%;
    padding: 1vh 0;
    border-right: solid 2px rgba(0, 0, 0, 0.8);
    background-color: var(--background2);
}

.navBarLogo {
    width: 3.5em;
    margin: 2em 0 6em 0;
    cursor: pointer;
}

.navBarIcon {
    width: 2em;
    margin-bottom: 3em;
    cursor: pointer;
}

.main {
    width: 90vw;
    height: 100vh;
    margin-left:10vw;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.postCard {
    display: flex;
    height: 35em;
    width: 50em;
    background-color: var(--primary);
    border-radius: 2em;
    margin-top:5vh; 
}

.postImage {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2em;
}

.postContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* to be fixed */
    align-items: center;
    width: 50%;
    height: 100%;
}

.postTitle {
    
}



.postRating {
    height: 5%;
}

.postRating img {
    height: 100%;
}

.postDescription {
    
}

.postIngredients {
    
}

.postPreparation {
    
}

.postFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.postTags {
    
}

.postDate {
    
}

.postUserIcon {
    width:  3em;
    height: 3em;
}

.postUserName {
    
}




/* INPUTS FOR ADDING POST */
.addPostInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}